body {
      display: flex;
	  align-items: center;
	  justify-content: center;
	  font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
	  height: 100%;
	  width: 100%;
}

.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	size: fit content;
	flex-direction: column;
	border: 2px solid;
	padding: 60px 50px;
}
  
.login-buttons {
	display: flex;
	justify-content: center;
}

.page-header {
	position: absolute;
	top: 0px;
	left: 10px;
	margin: 0px;
	padding: 0px;
}
  
.page-content {
	display: flex;
	flex-direction: column;
	height: 100%;
}
  
.page-buttons {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
	padding: 10px;
	align-content: space-evenly;
	justify-content: center;
}
  
 .bg-grey {
	background-color: #f6f6f6;
}

.carousel {
	height: 550px;
	width: 800px;
}

.item {
	width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
  
.carousel-control.right, .carousel-control.left {
	background-image: none;
    color: black;
}
.carousel-indicators li {
    border-color: #f4511e;
}
.carousel-indicators li.active {
    background-color: #f4511e;
}

.container-fluid {
    padding: 60px 50px;
}

.search-bar {
	margin-bottom: 0;
	z-index: 9999;
	font-size: 12px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 4px;
	border-radius: 0;
	font-family: Montserrat, sans-serif;
	position: absolute;
	top:10px;
}

.search-button {
	height: 20px;
	margin-bottom: 0;
	z-index: 9999;
	border: none;
	font-size: 12px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 4px;
	border-radius: 0;
	font-family: Montserrat, sans-serif;
	position: absolute;
	top: 2px;
}

.navbar{
	margin-bottom: 0;
	background-color: #abb7b8;
	z-index: 9999;
	border: 0;
	font-size: 12px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 4px;
	border-radius: 0;
	font-family: Montserrat, sans-serif;
	position: absolute;
	top: 10px;
}
  
.navbar li a, .navbar {
	color: gray !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
	color: black !important;
	background-color: #fff !important;
 }
 
 .navbar-default .navbar-toggle {
	border-color: transparent;
	color: #fff !important;
}

.product-container{
	display: flex;
	justify-content: left;
}

.product-list {
	margin: 20px;
	display: flex;
	width: auto;
	padding: 10px;
}

.product-detail {
	display: flex;
	flex-direction: column;
	align-content: center;
	height: auto;
	width: auto;
	font-size: 16px;
	padding: 0px;
	margin: 10px;
}

.filter-container {
	background-color: #f6f6f6;
	width: 150px;
	display: flex;
	flex-direction: column;
	justify-content: left;
	padding: 10px;
	margin: 20px;
}
