body {
      display: flex;
	  align-items: center;
	  justify-content: center;
	  font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
	  height: 100%;
	  width: 100%;
}

.logo {
	background: url("logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin: 10px;
	height: 150px;
}

.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	size: fit content;
	flex-direction: column;
	border: 2px solid;
	padding: 60px 50px;
}
  
.login-buttons {
	display: flex;
	justify-content: center;
}
  
.login-buttons__submit {
	background-color: #42f5a4;
	border-radius: 15px;
	height: 30px;
	width: 100px;
	font-size: 20px;
	border: none;
}
  
.logout-button {
	position: absolute;
	top: 10px;
	right: 10px;
}
  
.card-list {
	display: flex;
}
  
.page-header {
	position: absolute;
	top: 0px;
	left: 10px;
	margin: 0px;
	padding: 0px;
}
  
.page-content {
	display: flex;
	flex-direction: column;
}
  
.page-buttons {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
	padding: 10px;
	align-content: space-evenly;
	justify-content: center;
}
  
.card-detail {
	display: flex;
	flex-direction: column;
	height: auto;
	width: auto;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	padding: 0px;
	margin: 0px;
}
  
 .bg-grey {
	background-color: #f6f6f6;
}
  
.carousel-control.right, .carousel-control.left {
	background-image: none;
    color: #f4511e;
}
.carousel-indicators li {
    border-color: #f4511e;
}
.carousel-indicators li.active {
    background-color: #f4511e;
}

.container-fluid {
    padding: 60px 50px;
}

.navbar {
	margin-bottom: 0;
	background-color: #abb7b8;
	z-index: 9999;
	border: 0;
	font-size: 12px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 4px;
	border-radius: 0;
	font-family: Montserrat, sans-serif;
	position: absolute;
	top:10px;
}
  
.navbar li a, .navbar .navbar-brand {
	color: gray !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
	color: black !important;
	background-color: #fff !important;
 }
 
 .navbar-default .navbar-toggle {
	border-color: transparent;
	color: #fff !important;
}

.filter {
	border: 0px solid;
	background-color: #abb7b8;
	display: flex;
	flex-direction: column;
}